<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img class="logo" src="assets/icon/logo.png"></ion-img>

  </ion-toolbar>





    <ion-content fullscreen>



      <ion-list>

        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="assets/icon/truck.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>PLACA: EBD9288</h2>
            <h3>ROTA: NOVA RIO / PAVUNA</h3>
            <p>TEL: <a href="">21987266625</a> | DATA: 01/02/2020</p>
          </ion-label>
          <ion-button fill="outline" color="success">INICIAR</ion-button>
        </ion-item>
  </ion-list>
</ion-content>









</ion-header>


  

